@import url('https://fonts.cdnfonts.com/css/exo-2');
/* vex 7 */
#vex-7 {
    background-color: transparent;
    border: dotted white;
    border-radius:  0px;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    margin: 4px 2px;
    transition: all 5s ease;
  }
  
  #vex-7:hover {
    background-color: green;
    color: white;
    transition: 0.5s all;
  }
  /*
  #vex-7 {
    margin: 0 0 0 20%;
    }
    /* vex 6 */
  #vex-6 {
    background-color: transparent;
    border: dotted white;
    border-radius:  0px;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    margin: 4px 2px;
    transition: all 5s ease;
  }
  
  #vex-6:hover {
    background-color: #fc7100;
    color: white;
    transition: 0.5s all;
  }
   /* vex 5 */
   #vex-5 {
    background-color: transparent;
    border: dotted white;
    border-radius:  0px;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    margin: 4px 2px;
    transition: all 5s ease;
  }
  
  #vex-5:hover {
    background-color: #120fda;
    color: white;
    transition: 0.5s all;
  }
#flappybird {
  background-color: transparent;
  border: dotted white;
  border-radius:  0px;
  color: #fff;
  cursor: pointer;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  margin: 4px 2px;
  transition: all 5s ease;
}

#flappybird:hover {
  background-color: #f309b8;
  color: white;
  transition: 0.5s all;
}
  /* 10 minutes till dawn */ 
  #mtd {
    background-color: transparent;
    border: dotted white;
    border-radius:  0px;
    color: #fff;
    cursor: pointer;
    padding: 16px 55px;
    text-align: center;
    font-size: 16px;
    
    margin: 4px 2px;
    transition: all 5s ease;
  }
  #mtd:hover {
    background-color: #09ebf3;
    color: white;
    transition: 0.5s all;
  }