@import url('https://fonts.cdnfonts.com/css/common-pixel');
.header {
    /*
    margin: 0% 0 0 33.3%;
    */
    padding: 0 20px;
    background-color: none;
  }
  
  .header {
    display: inline-block;
    font-family: 'Common Pixel', sans-serif;
    text-decoration: none;
      text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
      font-size: 11px;
      letter-spacing: 2px;
      cursor: pointer;
      text-transform: uppercase;
      position: relative;
    -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    padding: 15px;
  }
  
  .header:after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: rgb(255, 99, 71);
      width: 0;
      left: 50%;
      bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  
  .header:hover {
      color: #fff;
  }
  
  .header:hover:after {
      width: 100%;
  }
  @import url('https://fonts.cdnfonts.com/css/exo-2');
  h4 {
    /*
    margin: 0% 0 0 36.5%;
    */
    Color: white;
    font-family: 'Exo 2', sans-serif;
  }
  h5 {
    /*
    margin: 0.5% 0 0 36%;
    */
    Color: white;
    font-family: 'Exo 2', sans-serif;
  }